<div class="schedule-container">
  <div class="schedule-top">
    <h2>Schedule</h2>
  </div>
  <div *ngFor="let entry of scheduleEntries; let i = index" class="entry-container">
    <input [(ngModel)]="entry.name" placeholder="Event Name">
    <input [(ngModel)]="entry.description" placeholder="Description">
    <!-- <input [(ngModel)]="entry.dateTime" placeholder="Date"> -->
    <input type="text" class="form-control" id="datepicker" [(ngModel)]="entry.dateTime" bsDatepicker (bsValueChange)="onDateChange()">
    <button class="secondary-button" (click)="removeEntry(i)">Remove</button>
  </div>
  <div class="button-container">
    <button class="primary-button" (click)="addEntry()">Add Entry</button>
    <button *ngIf="showSaveButton" class="primary-button" (click)="saveEntries()">Save</button>
  </div>
</div>
