<p>contacts works!</p>
<form (ngSubmit)="submitForm()" #contactsForm="ngForm">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="newContacts.name" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="newContacts.email" required email>
    </div>
    <div>
      <label for="phoneNumber">Phone Number:</label>
      <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="newContacts.phoneNumber" required>
    </div>
    <button type="submit">Save</button>
  </form>
