<mat-toolbar>
  <span>CareCompanion</span>
  <span class="spacer"></span>
  <button mat-button (click)="goToHome()">Home</button>
  <button mat-button (click)="signOut()">Sign Out</button>
</mat-toolbar>

<div class="container" *ngIf="showTiles">
  <div class="row col-sm-12 tiles-container" style="height: 50%;">
    <div class="col-6 tile" (click)="openView('gallery')">
      <h2>Gallery</h2>
      <img src="gallery.jpg" alt="Gallery">
    </div>
    <div class="col-6 tile" (click)="openView('schedule')">
      <h2>Schedule</h2>
      <img src="schedule.jpg" alt="Schedule">
    </div>
  </div>
  <div class="row col-sm-12 tiles-container" style="height: 50%;">
    <div class="col-6 tile" (click)="openView('games')">
      <h2>Games</h2>
      <img src="games.jpg" alt="Games">
    </div>
    <div class="col-6 tile" (click)="openView('contacts')">
      <h2>Contacts</h2>
      <img src="contact.jpg" alt="Contacts">
    </div>
  </div>
</div>



<div class="container" *ngIf="!showTiles">
  <div class="row col-sm-12" >
    <div class="col-3">
      <div (click)="openOneView('gallery')">Gallery</div>
      <div (click)="openOneView('schedule')">Schedule</div>
      <div (click)="openOneView('contacts')">Contacts</div>
      <div (click)="openOneView('games')">Games</div>
    </div>
    <div *ngIf="this.showViews.contacts" class="col-9">
      <app-contacts></app-contacts>
    </div>
    <div *ngIf="this.showViews.schedule" class="col-9">
      <app-schedule></app-schedule>
    </div>
    <div *ngIf="this.showViews.gallery" class="col-9">
      <app-gallery></app-gallery>
    </div>
    <!-- <div *ngIf="this.showView.contacts" class="col-9">
      <app-contacts></app-contacts>
    </div> -->
  </div>
</div>
