<mat-toolbar color="primary">
  <span>Dementia app</span>
  <span class="spacer"></span>
  <button mat-button (click)="goToHome()">Home</button>
  <button mat-button (click)="goToAbout()">About</button>
  <button mat-button>Sign Out</button>
</mat-toolbar>

<div class="container">
  <div class="row col-sm-12" style="height: 50%;">
    <div class="col-6">
      Gallery
    </div>
    <div class="col-6">
      Schedule
    </div>
  </div>
  <div class="row col-sm-12" style="height: 50%;">
    <div class="col-6">
      Games
    </div>
    <div class="col-6">
      Contacts
    </div>
  </div>
</div>
